credentials.json
token.json
__pycache__/

# Ignore Google API credentials
credentials.json
token.json

client_secret.json
token1.json


# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
.env
